<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome to Andersen DevOps courses homework task04 website!</title>
</head>
<body>
<h1>Welcome to Andersen DevOps courses homework task04 website!</h1>
<p>If you see this page, the Flask web application is working.<br/>
Now you could try to make POST request with curl in terminal, something like this:<br/>
<span style="font-family: Tahoma, Verdana, Arial, sans-serif; border: 1px solid black">
    curl -XPOST --insecure -d'{"word":"thumbs_up", "count": 5}' https://myvm.localhost/
</span><br/>
or<br/>
<span style="font-family: Tahoma, Verdana, Arial, sans-serif; border: 1px solid black">
    curl -XPOST -d'{"word":"elephant", "count": 3}' http://192.168.1.246/
</span></p>

<p>The output should be:<br/>
<span style="font-family: Tahoma, Verdana, Arial, sans-serif; border: 1px solid black">
    👍thumbs_up👍thumbs_up👍thumbs_up👍thumbs_up👍thumbs_up👍
</span><br/>
and<br/>
<span style="font-family: Tahoma, Verdana, Arial, sans-serif; border: 1px solid black">
    🐘elephant🐘elephant🐘elephant🐘
</span><br/>
respectively</p>
<p><b>NOTE</b>: in case you are using an https (secure) connection, you should add the
 <span style="font-family: Tahoma, Verdana, Arial, sans-serif; border: 1px solid black">
--insecure</span> flag to allow <b>curl</b> connect to the server
 using an <i>untrusted</i> self-signed certificate. More details here:
 <a href="https://curl.se/docs/sslcerts.html">https://curl.se/docs/sslcerts.html</a></p>
<p>Also you could see preview of emoji by appending it's name in address line.
</p>
